# --- Java & Maven ---
target/
*.class
*.jar
*.war
*.ear

# --- IDE ---
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.nb-gradle/

# --- OS específicos ---
.DS_Store
Thumbs.db

# --- Docker ---
dump.rdb
*.log